body {
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.avatar {
    width: 125px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #517664;
    color: #9FD8CB;
    border-bottom: 6px solid;
    border-top: 4px solid;
    border-radius: 10px;
        
}

.card a:link {  
            color: #9FD8CB;
    
}

.card a:hover {
            color: #D6E5E3;
}

    



